@using System.Web.Optimization

@{
    Layout = null;
    <link href="~/Content/Styles/login.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <title>CarsSale</title>
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">To Sale</a>
            <a class="navbar-brand" href="#">My Sales</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            @if (string.IsNullOrEmpty(User.Identity.Name))
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            }
            else
            {
                <li>@Html.ActionLink("Sign Out", "LogOut", "Account")</li>
            }
        </ul>
    </div>
</nav>
<div>
    <div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>
