@using System.Web.Optimization

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>_Layout</title>
</head>
<body>
<div>
	<div>
		<div>
			<div class="row">
				<div>
					@if (string.IsNullOrEmpty(User.Identity.Name))
					{
						<div>
							<span></span>
							@Html.ActionLink("Login", "Login", "Account")
						</div>
					}
					else
					{
						<div>
							<span></span>
							@User.Identity.Name
						</div>
						<div>
							<span></span>
							@Html.ActionLink("Sign Out", "LogOut", "Account")
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<div>
		<div>
			@RenderBody()
		</div>
	</div>
	<div>
		Mentoring EPAM-Systems 2017
	</div>
</div>
</body>
</html>
