.alert {
    top: 10em;
    display: none;
}

#searching {
    display: none;
}

#wrapper {
    top: 6em;
    position: relative;
}

#logo {
    background-image: url('../../Images/logo.jpeg');
    height: 6em;
    background-size: auto 8em;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box
}

.navbar-brand:hover {
    background-color: lightgrey !important;
    border-radius: 5px;
}